<div class="service-card">
  <div class="card-profile">
    <div class="service-price d-flex justify-content-between">
      <h3><strong>Homepage or Landing Page</strong></h3>
      <h3 id="price">SGD <%= @service.price/100 %></h3>
    </div>
    <p><%= @service.description %></p>
    <p><strong><i class="fa-regular fa-clock"></i> <%= @service.delivery_time %> Days Delivery</strong></p>
    <ul class="list-unstyled">
      <li><i class="fa-solid fa-check"></i> Responsive Design</li>
      <li><i class="fa-solid fa-check"></i> Source File</li>
    </ul>
    <% unless current_user == @service.seller %>
      <%= link_to "Continue", new_service_offer_path(@service), class: "btn btn-green w-100" %>
    </div>
    <div class="mt-3 p-4 bg-secondary" style="--bs-bg-opacity: .05">
      <a href="#" class="btn btn-transparent w-100">Contact Seller</a>
    </div>
  <% end %>
</div>
