<div class="container">
  <br>
  <br>
  <h1>All Categories</h1>
  <p>This page currently shows all services of all categories</p>

  <%# Header for the services %>
  <div class="services-header">
    <p><%= @services.count %> services available</p>
  </div>

  <%# Grid for services cards %>
  <div class="row">
    <% @services.each do |service| %>
      <div class="col-3 mb-4">
        <%= render 'users/service_card', service: service, user: service.seller %>
      </div>
    <% end %>
  </div>
</div>
