<div class="container">
  <div class="row">
    <div class="col-7">
      <%= render "service-details" %>
    </div>
    <div class="col-1"></div>
    <div class="col-4 mt-4">
      <%= render "service-card" %>
    </div>
  </div>
  <%= render "shared/reviews", :locals => {reviews: @reviews} %>
  <%= render "shared/share_card" %>
</div>
