// Specific CSS for your home-page
h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}


// Style settings for containers in the home page.
.home-container {
  padding: 6rem;
}

.white-container {
  background-color: white;
}

.green-container {
  background-color: #F1FDF7;
}

.dark-blue-container {
  background-color: #0D084D;
}

.trusted-by-wrapper {
  background-color: $light-gray;
}

// Styles for trusted-by bar below top banner.
.trusted-by {
  width: 800px;
  margin: 0 auto;
  padding: 1.2rem 0;
  color: #B5B6BA;
}

.trusted-by > ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space:nowrap;
}

.trusted-by > ul > li {
  display: inline;
  margin: 0 0 0 3rem;
  padding: 0;
}

// Styles for category cards
.category-cards {
  display: flex;
  justify-content: space-between;
}

.category-card {
  color: white;
  width: 230px;
  height: 340px;
  padding: 1rem;
  border-radius: 4px;
}

.category-card > h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.category-card > h3 > small {
  font-size: 1rem;
}

// Style for Proposition section.
.proposition-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.proposition-card {
  width: 35%;
}

.proposition-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.proposition-card > h3 > span {
  font-size: 1.4rem;
  margin-right: 0.4rem;
  color: gray;
}

.proposition-card p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: gray;
}

.proposition-video {
  aspect-ratio: 16 / 10;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 35px;
}

.video-btn:hover {
  color: white;
}

// Style for category list section
.category-list {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-list-item {
  display: inline;
  margin: 2rem;
  padding: 0;
}

.category-list-item a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-list-item a:hover {
  color: black;
}

.category-list-item img {
  width: 50px;
  height: 50px;
}

.category-list-item > a > div {
  width: 50px;
  height: 1px;
  border-bottom: 2px solid gray;
  margin: 0.4rem 0;
  transform: scaleX(1);
  transition: transform ease 0.1s;
}

.category-list-item > a:hover > div {
  border-bottom: 2px solid $green;
  transform: scaleX(2);
}