// Specific CSS for your home-page
h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}


// Style settings for containers in the home page.
.home-container {
  padding: 6rem;
}

.white-container {
  background-color: white;
}

.green-container {
  background-color: #F1FDF7;
}

.dark-blue-container {
  background-color: #0D084D;
}

.trusted-by-wrapper {
  background-color: $light-gray;
}

// Styles for trusted-by bar below top banner.
.trusted-by {
  width: 800px;
  margin: 0 auto;
  padding: 1.2rem 0;
  color: #B5B6BA;
}

.trusted-by > ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space:nowrap;
}

.trusted-by > ul > li {
  display: inline;
  margin: 0 0 0 3rem;
  padding: 0;
}

// Styles for category cards
.category-cards {
  display: flex;
  justify-content: space-between;
}

.category-card {
  color: white;
  width: 230px;
  height: 340px;
  padding: 1rem;
  border-radius: 4px;
}

.category-card > h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.category-card > h3 > small {
  font-size: 1rem;
}