// Specific CSS for your home-page
h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.home-container {
  padding: 6rem;
}

.white-container {
  background-color: white;
}

.green-container {
  background-color: #F1FDF7;
}

.dark-blue-container {
  background-color: #0D084D;
}

.trusted-by-wrapper {
  background-color: $light-gray;
}

.trusted-by {
  width: 800px;
  margin: 0 auto;
  padding: 1.2rem 0;
  color: #B5B6BA;
}

.trusted-by > ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space:nowrap;
}

.trusted-by > ul > li {
  display: inline;
  margin: 0 0 0 3rem;
  padding: 0;
}