// #nav#offers-new, #footer#offers-new {
//   display: none !important;
// }

.payment-header h1{
  font-size: 1em;
  font-weight: bold;
}

form {
  font-size: 0.85em;
  font-weight: bold;
  padding: 30px 50px;
  color: #616469;
}

form label{
  margin-bottom: 15px;
}

.exp, .cvc {
  width: 50%
}

.form-input-long {
  width: 250px
}
