#user_location {
border-radius: 2px;
padding: 8px 12px;
color: #0E0000;
background-clip: padding-box;
border: 1px solid #ced4da;
line-height: 1.5;
font-size: 1rem;
width: 100%;
margin-bottom: 12px;
}
