<footer>
  <hr>
  <div>
    <div class="left">
      <span>FIVERR.</span>
      <span>© Fiverr but Better International Ltd. 2023</span>
    </div>
    <div class="right">
      <span>Socials goes here</span>
    </div>
  </div>
</footer>
