
  <hr>
  <div class="bottom">
    <div class="left">
      <span>FIVERR.</span>
      <p>© Fiverr but Better International Ltd. 2023</p>
    </div>

    <div class="right">
      <ul class="socials">
        <li><a href="#" target="_blank" class="social-link"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#" target="_blank" class="social-link"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#" target="_blank" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="#" target="_blank" class="social-link"><i class="fa-brands fa-pinterest"></i></a></li>
        <li><a href="#" target="_blank" class="social-link"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>

      <button class="btn btn-footer">
        <i class="fa-sharp fa-solid fa-globe"></i>
        <span>English</span>
      </button>

      <button class="btn btn-footer">
        <span>SGD</span>
      </button>

      <button class="btn btn-footer">
        <i class="fa-sharp fa-solid fa-universal-access"></i>
      </button>

    </div>
  </div>
</footer>
