<footer>
  <hr>
  <div>
    <div class="left">
      <span>FIVERR.</span>
      <span>© Fiverr but Better International Ltd. 2023</span>
    </div>
    <div class="right">
      <ul class="socials">
        <li><a href="#" target="_blank" class="social-link"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#" target="_blank" class="social-link"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#" target="_blank" class="social-link"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="#" target="_blank" class="social-link"><i class="fa-brands fa-pinterest"></i></a></li>
        <li><a href="#" target="_blank" class="social-link"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>

      <span>English</span>

      <span>SGD</span>
    </div>
  </div>
</footer>
