<h3 class="my-4">Reviews</h3>

<div>
  <div class="review_cards">
    <% @reviews.each do |review| %>
      <div class="review_card">
        <div class="d-flex gap-4">
          <div>
            <% review.rating.to_i.times do  %>
              <i class="fa-sharp fa-solid fa-star" style="color: #ffb33d;"></i>
            <% end %>
            <% (5 - review.rating.to_i).times do %>
              <i class="fa-sharp fa-regular fa-star" style="color: #ffb33d;"></i>
            <% end %>
          </div>
          <div><p style="color: #ffb33d"><%= review.rating %> | </p></div>
          <div class="text-muted"><small><p><%= time_ago_in_words(review.created_at) %> ago</p></small></div>
        </div>
        <p><%= review.comment %></p>
      </div>
    <% end %>
  </div>
</div>
