<div class="history">
  <h2>Continue browsing <i class="fa-solid fa-arrow-right"></i></h2>
  <div class="browse-history">
    <% @services.each do |service| %>
      <div class="mb-4" id="history-card">
        <%= render 'users/service_card', service: service, user: service.seller %>
      </div>
    <% end %>
  </div>
</div>
