<div class="user-match-card p-3">
  <div>
    <p><strong>Hi <%= current_user.username %>,</strong></p>
    <p>Get matched with sellers for your project.</p>
  </div>
  <button class="post-request btn btn-success border-0">Post a request</button>
</div>
