<div class="user-suggestion-card">
  <div class="suggestion-text">
    <h2><%= current_user.username %>,</h2>
    <h2>Here's what <i>you</i> need for your</h2>
    <h2>WordPress website</h2>
  </div>
  <div id="carouselControl" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="item-cards-three">
          <div class="item-card">
            <img src="https://fiverr-res.cloudinary.com/image/upload/f_svg,q_auto/v1/attachments/generic_asset/asset/1b0db4a72b9e2a3aba3c950c3106b0af-1621496582874/Web%20design.svg" alt="" class="d-block">
            <span>Website Design</span>
          </div>
          <div class="item-card">
            <img src="https://fiverr-res.cloudinary.com/image/upload/f_svg,q_auto/v1/attachments/generic_asset/asset/5c815409e73d5b8aaa88ab463df3840f-1617794997227/WordPress.svg" alt="" class="d-block">
            <span>WordPress</span>
          </div>
          <div class="item-card">
            <img src="https://fiverr-res.cloudinary.com/image/upload/f_svg,q_auto/v1/attachments/generic_asset/asset/5c815409e73d5b8aaa88ab463df3840f-1617794997236/Website%20Content.svg" alt="" class="d-block">
            <span>Website Content</span>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="item-cards-three">
          <div class="item-card">
            <img src="https://fiverr-res.cloudinary.com/image/upload/f_svg,q_auto/v1/attachments/generic_asset/asset/5c815409e73d5b8aaa88ab463df3840f-1617794997243/Social%20Media%20Marketing.svg" alt="" class="d-block">
            <span>Social Media Marketing</span>
          </div>
          <div class="item-card">
            <img src="https://fiverr-res.cloudinary.com/image/upload/f_svg,q_auto/v1/attachments/generic_asset/asset/5c815409e73d5b8aaa88ab463df3840f-1617794997230/SEO.svg" alt="" class="d-block">
            <span>Search Engine Optimization</span>
          </div>
          <div class="item-card">
            <img src="https://fiverr-res.cloudinary.com/image/upload/f_svg,q_auto/v1/attachments/generic_asset/asset/5c815409e73d5b8aaa88ab463df3840f-1617794997239/Web%20Analytics.svg" alt="" class="d-block">
            <span>Web Analytics</span>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="item-cards-three">
          <div class="item-card">
            <img src="https://fiverr-res.cloudinary.com/image/upload/f_svg,q_auto/v1/attachments/generic_asset/asset/1b0db4a72b9e2a3aba3c950c3106b0af-1621496582874/Web%20design.svg" alt="" class="d-block">
            <span>Website Design</span>
          </div>
          <div class="item-card">
            <img src="https://fiverr-res.cloudinary.com/image/upload/f_svg,q_auto/v1/attachments/generic_asset/asset/5c815409e73d5b8aaa88ab463df3840f-1617794997227/WordPress.svg" alt="" class="d-block">
            <span>WordPress</span>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" data-bs-target="#carouselControl" type="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#carouselControl" type="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
