<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsx50recn/image/upload/v1678800695/Fiverr-Home/carousel-1_ryn9rb.webp);">
  <div class="banner-container">
    <h1>Find the perfect <em>freelance</em> services for your business</h1>
    <a class="btn btn-green fw-bold px-3 py-2" href="#">Join now</a>
  </div>
</div>