<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsx50recn/image/upload/v1678800695/Fiverr-Home/carousel-1_ryn9rb.webp);">
  <div class="banner-container">
    <h1>Find the perfect <em>freelance</em> services for your business</h1>
    <a class="btn btn-green fw-bold px-3 py-2" href="#">Join now</a>
  </div>
</div>
<div class="trusted-by-wrapper">
  <div class="trusted-by">
    <span>Trusted by:</span>
    <ul>
      <li><img src="https://res.cloudinary.com/dsx50recn/image/upload/v1678801094/Fiverr-Home/trusted-1_b5pggl.png"></li>
      <li><img src="https://res.cloudinary.com/dsx50recn/image/upload/v1678801094/Fiverr-Home/trusted-2_p79mv2.png"></li>
      <li><img src="https://res.cloudinary.com/dsx50recn/image/upload/v1678801094/Fiverr-Home/trusted-3_rlbgx2.png"></li>
      <li><img src="https://res.cloudinary.com/dsx50recn/image/upload/v1678801094/Fiverr-Home/trusted-4_k19ooh.png"></li>
      <li><img src="https://res.cloudinary.com/dsx50recn/image/upload/v1678801094/Fiverr-Home/trusted-5_cgqq1z.png"></li>
    </ul>
  </div>
</div>
<div class="home-container white-container">
  <h2>Popular professional services</h2>
</div>
