<div id="offers-new" class="container mt-5">
  <div class="row">
    <div class="col-7">
      <%= link_to "< Back", service_path(@service),  class: "d-block pb-4 text-decoration-none" %>
      <%= render "payment-window" %>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
      <%= render "checkout-card" %>
    </div>
  </div>
</div>
