<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div id="offer-confirmation">
        <p><strong>Offer sent successfully!</strong></p>
        <p>Please wait 3 - 5 working days for the Seller to contact you</p>
      </div>
        <%= link_to "Back to Home", root_path, class: "home-button btn btn-success w-50 border-0" %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
