.btn {
  text-decoration: none;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.btn-transparent-white {
  color: white;
}

.btn-transparent-green {
  color: #1ebe73;
}

.btn-green {
  background-color: #1ebe73;
  color: white;
}

.btn-grey {
  color: #616469;
}
