.card-profile {
  border: 1px solid #dadbdd;
  padding: 30px;
}

.user-profile-info i {
  color: #b5b6ba;
}

.user-stats-wrapper {
  border-top: 1px solid #dadbdd;
margin-top: 24px;
}

.user-stats {
  list-style: none;
  margin: 0;
  padding-top: 20px;
  padding-left: 0;
}

.user-stats li {
  display:flex;
  justify-content: space-between;
  color: #62646a;
  font-size: 0.875rem;
  margin-bottom: 16px;
}

.card-profile .online {
 color: #1dbf73;
 border-radius: 12px;
 border: 1px solid #1dbf73;
padding: 0 6px;
font-size: 0.75rem;
}

.card-profile .offline {
  color: #bf1d1d;
  border-radius: 12px;
  border: 1px solid #bf1d1d;
 padding: 0 6px;
 font-size: 0.75rem;
 }

.img-wrapper p {
  color: #222325;
  font-size: 20px;
  font-weight: 700;
}
