.bottom {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 4px;
  height: 60px;
}

.bottom .left p {
  text-align: center;
  color: rgb(154, 154, 154);
  font-size: smaller;
  font-style: italic;
  margin: 8px;
}

.bottom .left span {
  padding: 4px;
  margin: 4px;
}

.bottom .left {
  display: flex;
  align-items: center;
  padding: 0px;
}

.bottom .right {
  display: flex;
  align-items: center;
}

.bottom ul {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

.bottom li {
  display: inline;
}

.bottom li a {
  text-decoration: none;
  color: gray;
  font-size: larger;
  margin: 8px;
}

.bottom a {
  text-decoration: none;
}
