.nav-wrapper {
  padding: 0 32px;
  background-color: inherit;
  border-bottom:1px solid #e4e5e7;
}

nav.navbar{
  margin: 0 30px;
  background-color: #F4F4F4;
  height: 80px;

}
.text-navy {
  color: #1e1692;
}

.logo>img {
  transition: ease-in-out 0.3s;
}

.logo>img:hover {
  filter: invert(56%) sepia(80%) saturate(300%) hue-rotate(90deg) brightness(94%) contrast(80%);
}

.nav-wrapper .nav-category {
  display: flex;
}

.btn-category-nav {
  text-decoration: none;
  color: gray;
  font-weight: lighter;
  &:hover {
    color: gray;
  }
}

.nav-category {
  &:hover {
    // border-bottom: 3px solid #1ebe73;
    // margin: -3px;
    box-shadow: 0 3px 0 0 #1ebe73;
  }
}
