.nav-wrapper {
  padding: 0 32px;
  background-color: inherit;
  border-bottom:1px solid #e4e5e7;
}

nav.navbar{
  margin: 0 30px;
  background-color: #F4F4F4;
  height: 80px;

}
.text-navy {
  color: #1e1692;
}

.logo>img {
  filter: invert(56%) sepia(90%) saturate(416%) hue-rotate(100deg) brightness(91%) contrast(84%);
}
