

.card-img-top {
  height: 200px;
  object-fit: cover;
}
.service-card {
  position: sticky;
  top: 40px;
}

.service-card h3{
  font-size: 18px;
}

.service-card #price{
  font-size: 22px;

}

.card-content {
  display: flex;
  flex-direction: column;
  min-height: 150px;
}

.card-body {
  height: 100px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
