.fa-link {
  display: block;
  border: 2px solid gray;
  color: gray;
  border-radius: 50%;
  padding: 8px 6px;
font-size: 2rem;
}

.share-card {
  width: 600px;
}
.share-card h2 {
  color: #62646a;
  margin: 0;
  padding: 10px 0;
  font-size: 1.5rem;
}

.share-card p {
  color: #95979d;
  margin: 0;
}

.share-card ul li {
  list-style: none;
}

ul.social-mediums {
  padding-top: 15px;

}
#link-icon {
  border: 2px solid lightgray;
  padding: 12px;
  width: 60px;
  height: 60px;
}

.share-card path {
  fill: #999999;
}

#link-icon:hover path{
  cursor:pointer;
fill: gray;
}
#link-icon:hover {
  border:2px solid gray;
  cursor: pointer;
}
