.user-suggestion-card {
  width: 100%;
  height: 230px;
  background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/2566e7dd26a66537ef561b8400006cf4-1617800489936/banner%20background%20image.png");
  margin: 30px 0px;
  padding: 20px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-suggestion-card .suggestion-text h2 {
  text-align: left;
  font-size: 1.5em;
  padding: 0 10px;
  margin: 0;
  color: white;
}

.user-suggestion-card .suggestion-text h2 i {
  color: rgb(255, 115, 197);
}

.item-cards-three {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-right: 20px;
}

.user-suggestion-card .item-card {
  background-color: white;
  width: 160px;
  height: 150px;
  border-radius: 5px;
  padding: 20px 20px;
}

.user-suggestion-card .item-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.user-suggestion-card .item-card>span {
  font-size: 0.9em;
}

#carouselControl {
  overflow: hidden;
  width: 510px;
}
